''' 
1. Завести аккаунт в GitHub и опробовать работу с ним с локального компьютера +

2. Написать в Jupyter Notebook программу, которая будет выполнять следующие действия: 
    
    2.1. Вызывать запрос из SQL базы demo_medium (можно из пром аттестации) +
    
    2.2. Показывать количество строк / столбцов таблицы +
    
    2.3. Показывать тип данных в столбцах +
    
    2.4. Считать количество уникальных значений по строковой переменной +
    
    2.5. Считать частоту встречающихся значений по строковой переменной +
    
    2.6. Считать минимум, среднюю, медиану, максимум по числовой переменной +
    
3. Загрузить блокнот на GitHub и прикрепить в ДЗ ссылку на репозиторий 

4. Срок до 17 сентября 2024 г.

'''

In [1]:
import pandas as pd
import numpy as np
import psycopg2

In [65]:
# 2.1. Вызывать запрос из SQL базы demo_medium 
# Берём запрос из промежуточной аттестации, вьюшка в базе уже создана и сохранена 

query = '''
    SELECT 
        ROW_NUMBER() OVER() AS "№", 
        dep_airport_name AS "Аэропорт вылета", 
        arr_airport_name AS "Аэропорт прилёта", 
        fly_month AS "Месяц, год", 
        count_tickets AS "Количество билетов" 
    FROM view_flights 
    WHERE dep_airport_code = 'DME' 
    '''
engine = psycopg2.connect("dbname='demo' user='postgres' host='localhost' port='5432' password='123'") 

df = pd.read_sql(query, con=engine)

/tmp/ipykernel_14533/967695528.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=engine)

In [66]:
df 
# Ждать ~7 сек.

,№,Аэропорт вылета,Аэропорт прилёта,"Месяц, год",Количество билетов
0,1,Домодедово (г. Москва),Абакан (г. Абакан),июнь 2017,582
1,2,Домодедово (г. Москва),Абакан (г. Абакан),июль 2017,672
2,3,Домодедово (г. Москва),Абакан (г. Абакан),август 2017,365
3,4,Домодедово (г. Москва),Астрахань (г. Астрахань),июнь 2017,676
4,5,Домодедово (г. Москва),Астрахань (г. Астрахань),июль 2017,691
...,...,...,...,...,...
139,140,Домодедово (г. Москва),Чульман (г. Нерюнгри),июль 2017,301
140,141,Домодедово (г. Москва),Чульман (г. Нерюнгри),август 2017,123
141,142,Домодедово (г. Москва),Элиста (г. Элиста),июнь 2017,2179
142,143,Домодедово (г. Москва),Элиста (г. Элиста),июль 2017,2245
143,144,Домодедово (г. Москва),Элиста (г. Элиста),август 2017,1081

In [67]:
# 2.2. Показывать количество строк / столбцов таблицы 

df.shape

(144, 5)

In [68]:
# 2.3. Показывать тип данных в столбцах 

df.dtypes

№                      int64
Аэропорт вылета       object
Аэропорт прилёта      object
Месяц, год            object
Количество билетов     int64
dtype: object

In [69]:
# 2.4. Считать количество уникальных значений по строковой переменной

df['Аэропорт прилёта'].unique()

array(['Абакан (г. Абакан)', 'Астрахань (г. Астрахань)',
       'Баратаевка (г. Ульяновск)', 'Барнаул (г. Барнаул)',
       'Белгород (г. Белгород)', 'Бесовец (г. Петрозаводск)',
       'Богашёво (г. Томск)', 'Братск (г. Братск)', 'Брянск (г. Брянск)',
       'Бугульма (г. Бугульма)', 'Воркута (г. Воркута)',
       'Воронеж (г. Воронеж)', 'Геленджик (г. Геленджик)',
       'Грозный (г. Грозный)', 'Донское (г. Тамбов)',
       'Елизово (г. Петропавловск-Камчатский)', 'Казань (г. Казань)',
       'Кемерово (г. Кемерово)', 'Краснодар (г. Краснодар)',
       'Курган (г. Курган)', 'Курск-Восточный (г. Курск)',
       'Курумоч (г. Самара)', 'Минеральные Воды (г. Минеральные Воды)',
       'Надым (г. Надым)', 'Нальчик (г. Нальчик)',
       'Нарьян-Мар (г. Нарьян-Мар)', 'Нижневартовск (г. Нижневартовск)',
       'Новый Уренгой (г. Новый Уренгой)', 'Норильск (г. Норильск)',
       'Пенза (г. Пенза)', 'Петрозаводск (г. Урай)',
       'Победилово (г. Киров)', 'Пулково (г. Санкт-Петербург)',
       'Ростов-на-Дону (г. Ростов-на-Дону)',
       'Саратов-Центральный (г. Саратов)', 'Советский (г. Советский)',
       'Сыктывкар (г. Сыктывкар)', 'Талаги (г. Архангельск)',
       'Толмачёво (г. Новосибирск)', 'Уйташ (г. Махачкала)',
       'Усинск (г. Усинск)', 'Хабаровск-Новый (г. Хабаровск)',
       'Ханты-Мансийск (г. Ханты-Мансийск)',
       'Хомутово (г. Южно-Сахалинск)', 'Храброво (г. Калининград)',
       'Челябинск (г. Челябинск)', 'Чульман (г. Нерюнгри)',
       'Элиста (г. Элиста)'], dtype=object)

In [70]:
df['Аэропорт прилёта'].unique().shape

# Всего 48 направлений (аэропортов прилёта)

(48,)

In [71]:
# 2.5. Считать частоту встречающихся значений по строковой переменной 

df['Аэропорт прилёта'].value_counts().sort_index() 

# Ещё пришлось отсортировать для красоты 
# Каждый аэропорт прилёта повторяется три раза, т.к. выборка у нас за три летних месяца

Абакан (г. Абакан)                        3
Астрахань (г. Астрахань)                  3
Баратаевка (г. Ульяновск)                 3
Барнаул (г. Барнаул)                      3
Белгород (г. Белгород)                    3
Бесовец (г. Петрозаводск)                 3
Богашёво (г. Томск)                       3
Братск (г. Братск)                        3
Брянск (г. Брянск)                        3
Бугульма (г. Бугульма)                    3
Воркута (г. Воркута)                      3
Воронеж (г. Воронеж)                      3
Геленджик (г. Геленджик)                  3
Грозный (г. Грозный)                      3
Донское (г. Тамбов)                       3
Елизово (г. Петропавловск-Камчатский)     3
Казань (г. Казань)                        3
Кемерово (г. Кемерово)                    3
Краснодар (г. Краснодар)                  3
Курган (г. Курган)                        3
Курск-Восточный (г. Курск)                3
Курумоч (г. Самара)                       3
Минеральные Воды (г. Минеральные Воды)    3
Надым (г. Надым)                          3
Нальчик (г. Нальчик)                      3
Нарьян-Мар (г. Нарьян-Мар)                3
Нижневартовск (г. Нижневартовск)          3
Новый Уренгой (г. Новый Уренгой)          3
Норильск (г. Норильск)                    3
Пенза (г. Пенза)                          3
Петрозаводск (г. Урай)                    3
Победилово (г. Киров)                     3
Пулково (г. Санкт-Петербург)              3
Ростов-на-Дону (г. Ростов-на-Дону)        3
Саратов-Центральный (г. Саратов)          3
Советский (г. Советский)                  3
Сыктывкар (г. Сыктывкар)                  3
Талаги (г. Архангельск)                   3
Толмачёво (г. Новосибирск)                3
Уйташ (г. Махачкала)                      3
Усинск (г. Усинск)                        3
Хабаровск-Новый (г. Хабаровск)            3
Ханты-Мансийск (г. Ханты-Мансийск)        3
Хомутово (г. Южно-Сахалинск)              3
Храброво (г. Калининград)                 3
Челябинск (г. Челябинск)                  3
Чульман (г. Нерюнгри)                     3
Элиста (г. Элиста)                        3
Name: Аэропорт прилёта, dtype: int64

In [76]:
# 2.6. Считать минимум, среднюю, медиану, максимум по числовой переменной 
# Чтобы не изобретать велосипед, возьмём готовую функцию из консультации 09.09.2024 

def get_numeric_stats(df, columns_to_exclude = []):
    data_types = df.dtypes
    numeric_columns = data_types.loc[(data_types == int)|(data_types == float)].index.to_list()
    for col in columns_to_exclude:
        numeric_columns.remove(col)
    num_stats = df[numeric_columns].describe().loc[['min', 'mean', 'max']]
    return num_stats

print(get_numeric_stats(df, ['№'])) # Исключаем столбец '№'

      Количество билетов
min            32.000000
mean         1600.013889
max         10619.000000

In [ ]:
# Готово